body {
    background-color: #f4f7f6;
    margin-top: 20px;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.contacts-heading {
    width: 65% !important;
    display: inline-block;
}

#refreshContacts,
#addContacts {
    font-size: 15px;
    padding: 10px;
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    height: 100%;
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 10px 0px 10px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px;
    display: inline;
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

span.unreadcount {
    float: right;
    background-color: #159715cc;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 12px;
    color: white;
    margin: 8px;
}

.self-details {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.self-details img {
    width: 50px;
}


.self-details:hover {
    background: #efefef;
    cursor: pointer
}

.self-details.active {
    background: #efefef
}

#self-settings-icon {
    padding: 18px;
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px;
    width: 75%;
}

.people-list .status {
    color: #999;
    font-size: 13px
}

#logoutButton {
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.ms-headerBtn {
    display: flex;
    gap: 5px;
    justify-content: end;
}

#backBtn {
    float: left;
    padding: 10px;
    border-radius: 20px;
    margin-right: 5px;
    display: none;
    background: #80808014;
}

#messageForm {
    display: flex;
    width: 100%;
    align-items: center;
}

#messageForm .input-group-prepend {
    flex: 0 0 auto;
    height: auto;
}

#messageForm .col-8 {
    flex: 1;
}

#messageForm .input-group-prepend button {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat ul.chat-history li {
    list-style: none;
    margin-bottom: 30px
}

.chat ul.chat-history li:last-child {
    margin-bottom: 0px
}

.message-data.text-left {
    display: flex;
    justify-content: start;
}

.message-data.text-right {
    display: flex;
    justify-content: end;
}

span.message-data-time {
    opacity: 0.5;
    font-size: 12px;
}

#selectImageBtn {
    border: none;
    border-radius: 20px;
    background: #b3dddf;
    padding: 5px 89px;
}

.removeSelectedImage {
    position: absolute;
    top: -10px;
    right: -12px;
    color: red;
    font-size: 25px;
}

.chat .chat-history .message-data {
    margin-bottom: 5px;
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #efefef
}

.chat .chat-history .other-message:after {
    bottom: 100%;
    left: -9px;
    border: solid transparent;
    transform: rotate(-90deg);
    top: 20px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .my-message:after {
    transform: rotate(90deg);
    border-bottom-color: #e8f1f3;
    right: -20px;
    left: auto;
    top: 20px;
}

.chat .chat-message {
    padding: 20px;
    position: relative;
}

.chat .unreadDiv {
    text-align: center;
    background-color: #9999991c;
    display: flex;
    justify-content: center;
}

.chat .unReadSpan {
    padding: 5px 16px;
    background-color: #808080c4;
    border-radius: 25px;
    color: white;
    font-size: 15px;
}

#fullScreenImage {
    object-fit: contain;
    background-color: transparent;
}

.messageImage {
    max-height: 400px;
    object-fit: cover;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.waviy {
    display: inline-block;
    visibility: hidden;
}

.waviy span {
    font-size: 13px;
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #15c925;
}

.waviy span.Jump {
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

.searchBox {
    display: flex;
    justify-content: space-evenly;
}

.searchBox .input-group-text {
    display: inline-block;
}

#friendsRequestRecived:before {
    content: attr(data-requestCount);
    color: #475dd3;
    font-size: 15px;
    position: absolute;
    top: -10px;
    left: 40px;
    display: inline-block;
}

.searchContact {
    margin: 15px 35px;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border: 1px solid #80808057;
    border-radius: 12px;
    padding: 10px;
}

.searchContact .profile {
    width: 60px;
    border-radius: 50%;
}

.searchContact span {
    font-weight: 500;
    padding: 30px;
}

.searchContact i {
    float: right;
    margin: 20px;
}

.fa-user-plus:before {
    color: #00a9ff;
}

.fa-user-check:before {
    color: #3cb13c;
}

.fa-user-times:before {
    color: #d97575;
}

#send-picture-container {
    padding: 20px;
    position: absolute;
    bottom: 70px;
    width: 95%;
    max-width: 1000px;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #817e7e42;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 0;
    /* Start with height 0 */
    transition: height 0.2s ease;
    /* Smooth transition for height change */
    overflow: hidden;
    /* Hide overflow content when height is 0 */
}

#send-picture-container.active {
    height: auto;
    /* Change height to auto when container is active */
}

#send-picture-container::-webkit-scrollbar {
    display: none;
}

#send-picture-container-main {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#send-picture-container-main img {
    max-width: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Style for the modal */
#imageModal {
    display: none;
    position: fixed;
    z-index: 500;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Style for the modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

/* Style for the close button */
.imageModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.imageModalClose:hover,
.imageModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-5px)
    }
}

@media only screen and (max-width: 767px) {
    #backBtn {
        display: block;
    }

    .ms-headerBtn {
        display: none !important;
    }

    .chat-app .people-list {
        width: 100%;
        display: none
    }

    #logoutButton {
        position: relative;
    }

    .searchContact {
        margin: 10px 0px;
    }

    .searchContact .profile {
        width: 50px;
    }

    .searchContact span {
        padding: 0;
    }

    #chat-sidebar {
        height: 65vh;
        overflow-y: auto;
    }

    .chat-app .people-list.open {
        left: 0
    }

    .chat-app .chat {
        margin: 0
    }

    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }

    .chat-app .chat-history {
        height: 60vh;
        min-height: 60vh;
        overflow-y: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}